<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Préstamos</title>
</head>
<body>
    <h1>Lista de Préstamos</h1>
    <a href="/prestamos/nuevo">Nuevo Préstamo</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Socio</th>
                <th>Libro</th>
                <th>Fecha Préstamo</th>
                <th>Fecha Límite</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prestamo : ${prestamos}">
                <td th:text="${prestamo.prestamoId}"></td>
                <td th:text="${prestamo.socio.nombre + ' ' + prestamo.socio.apellidos}"></td>
                <td th:text="${prestamo.libro.titulo}"></td>
                <td th:text="${#temporals.format(prestamo.fechaPrestamo, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(prestamo.fechaLimite, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                    <form th:action="@{/prestamos/borrar}" method="post">
                        <input type="hidden" name="id" th:value="${prestamo.prestamoId}" />
                        <button type="submit">Borrar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
